USERNAME=developer
HOSTNAME=aipod
CHEZMOI_DOTFILES_REPO=maurycy/dotfiles
CONTAINERFILE=Containerfile

USE_RUST=true
USE_NPM=true
USE_UV=true
UV_DEFAULT_PYTHON_VERSION=3.14
USE_CLAUDE_CODE=true
USE_CODEX=true
USE_COPILOT=true
USE_PI=true
USE_AGY=true
USE_MISE=false
USE_OVERMIND=false
USE_JUST=false
USE_BUN=false
